<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    Score: {{totalScore}}
  </p>



  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
  <div class="matrix">
    <div class="row" *ngFor="let row of cards;">
      <div class="square"  *ngFor="let card of row;"
       [style.transform]="'rotate('+card.rotation*90+'deg)'"
       (click)="card.rotation = card.rotation + 1; score();">
        <div *ngFor="let symbol of card.symbols; let i = index;" [class]="'symbol symbol-'+i">{{symbol}}</div>
      </div>
    </div>
  </div>

</ion-content>
